*{
    margin: 0;
    padding: 0;
}
.corpo{
    background-color: rgb(211, 208, 208);
    width: 400px;
    height: 400px;
    margin-top: 60px;
    margin-left: 400px;
    border: 20px solid rgb(100, 98, 98);
    border-radius: 20px;
}
.corpo section #textoExplicativo{
    width: 300px;
    padding-top: 30px;
    padding-left: 50px;
    font-size: 20px;
    font-weight: bold;
}
.corpo section .cabecalho{
    font-weight: bold;
    font-size: 20px;
    padding-top: 30px;
    padding-left: 65px;
}
.corpo section .cabecalho p{
    padding-top: 10px;
}
.corpo .entradaNotas div{
    margin-top: 30px;
    margin-left: 140px;
}
.corpo .entradaNotas #notaUm, #notaDois, #notaTres{
    width: 40px;
    border-radius: 10px;
    padding-left: 4px;
}
.corpo .entradaNotas .labelNota{
    font-weight: bold;
}
.corpo #resultado{
    margin-top: 30px;
    margin-left: 130px;
    font-size: 30px;
    font-weight: bold;
}
